html,
body {
  height: 100%;
}

body {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #dcdadb;
}

.form-inline{
 flex-direction: column;
}

.form-group{
 margin-top: 8px;
}

.form-logo{
 display: inline-block;
 margin-bottom: 7px;

}

label{
 width: 150px;
 border: 3px solid #ccc;
}

input{
 width:250px;
 text-align: center;
}

select{
 text-align-last:center;
 width: 250px;
 height: 30px;
}

.form-output{
 width: 350px;
 border-radius: 5px;
}

.form-predict, .form-reset{
    margin-top:15px;
    width:250px;
    display: inline-block;
    border: none;
    padding: .4rem .4rem;
    text-decoration: none;
    background: #466d9e;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-predict:hover, .form-reset:hover,
button:focus {
    background: #005ccf;
}

.form-predict:focus, .form-reset:focus{
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.form-predict:active, .form-reset:active{
    transform: scale(0.99);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

